@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
}

/* ============================= */
/* Minimal Scrollbar */
/* ============================= */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* hide track */
}

::-webkit-scrollbar-thumb {
  background: rgba(99, 102, 241, 0.6);
  border-radius: 999px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 102, 241, 0.9);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(99, 102, 241, 0.6) transparent;
}
