@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
}

/* ============================= */
/* Minimal Scrollbar */
/* ============================= */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* hide track */
}

::-webkit-scrollbar-thumb {
  background: rgba(99, 102, 241, 0.6);
  border-radius: 999px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 102, 241, 0.9);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(99, 102, 241, 0.6) transparent;
}

button {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;
  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.05);
  color: #cbd5e1;

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.15s ease;
}

.icon-button:hover {
  transform: scale(1.05);
}

.download-btn:hover {
  background-color: rgba(99, 102, 241, 0.15);
  color: rgb(99, 102, 241);
}

.cancel-btn:hover {
  background-color: rgba(239, 68, 68, 0.15);
  color: rgb(239, 68, 68);
}
